services:

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - 8000:8000
    env_file:
      - ./backend/.env
    environment:
      - QDRANT_HOST=vector_db
      - REDIS_HOST=redis_db
      - LOG_LEVEL=DEBUG
    depends_on:
      - vector_db
      - redis_db

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - 5173:5173
    env_file:
      - ./frontend/.env
    depends_on:
      - backend

  redis_db:
    image: redis
    container_name: redis_db
    ports:
      - 6379:6379
    
  vector_db:
    image: qdrant/qdrant
    container_name: vector_db
    ports:
      - 6333:6333
    volumes:
      - qdrant_storage:/qdrant/storage

volumes:
  qdrant_storage:
    driver: local
